// Styling for the call to action section
section.features {
    position: relative;
  
    width: 100%;
  
    color: #ffffff;
    background-color: #1e1e1e;
  
    text-align: center;

    .text-muted2 {
      color: #8d8d8d;
  }
}