// Styling for the call to action section
section.iotstack {
    position: relative;

    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    color: #000000;
    background-color: #cacaca;

    text-align: center;
}