// Styling for the call to action section
section.iotstack {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;

  color: #000000;
  background-color: #ffffff;

  text-align: center;

  .row_picture {
    display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -9px;
    border-color: #000000;
      border-width: 1px;
      border-style: solid;
  }
  .row-iot {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;

    

    .list {
      //padding-right: 50px;
      text-align: center;
      
      li:vis {
        color: #999999;
      }

      ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 150px;
        background-color: #5f5f5f;
      

      .toggle-buttons input[type="radio"] {
        visibility: hidden;
      }

      label {
        color: #ffffff;
        display: inline-block;
        height: 40px;
        width: 150px;
        padding-top: 8px;
        text-align: center;
        margin-bottom: 0;
      }
      label:focus {
        background-color: #222222;
        color: #ffffff;
      }
      
      .toggle-buttons input:checked + label {
        background: #bbbbbb;
        color: #000000;
      }

      .together input {
        position: absolute;
        width: 1px;
        height: 1px;
        top: 0;
        left: 0;
      }
    }
  }

    div.textfield {
      width: calc(100% - 150px);
      background-color: #bbbbbb;
      color: #000000;
      padding-right: 0;
      text-align: center;

      p {
        margin-right: 10%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 10%;

      }
    }

    .rowimage {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: -8px;
    }
  }
}